[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
django-rest-auth = "*"
django-allauth = "*"
pusher = "*"
django-cors-headers = "*"
django-rest-api = "*"
dj-database-url = "*"
whitenoise = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3"
server = "heroku local -p 8000"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
